@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>【接続文字列】<br>@ViewBag.ConnectionString</p>
    @if (ViewBag.IsConnect)
    {
        <div class="alert alert-success" role="alert">
            成功!!
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            失敗!!
        </div>
    }
</div>
